{% extends 'super.html' %}
{% block title %}
OTS|Subject
{% endblock %}
{% block style %} 
 {% endblock %}
{% block body %}

{% for sub in subject %}

<div class="card m-5 bg-secondary">
  <h5 class="card-header text-light bg-dark fs-4">Sr.no: <span>{{sub.id}}</span></h5>
  <div class="card-body">
    <h5 class="card-title text-light fs-5">Subject Name: <span>{{sub.examname}}</span></h5>
    <p class="card-text text-light fs-5">About Subject: <span>{{sub.examdisp}}</span></p>
    <p class="card-text text-light fs-5">Number of Question: <span>{{sub.numofquestion}}</span></p>
    <a href="/paper/{{sub.id}}/" class="btn btn-dark px-5 fs-4"> Start Exam</a>
  </div>
</div>

{% endfor %}


{% endblock %}