
{% extends 'super.html' %}
{% load static %}

{% block title %}
OTS | Home
{% endblock %}

{% block body %}


<div class="row bg-dark mt-5">
    <div class="col-12 text-light text-center">
        <h1 class="  fs-1"> Welcome to Our Online Testing System App </h1>
    </div>
</div>
    
  
  
<div class=".container-fluid text-center mt-5 ">
  
 
    <a href="{%url 'login' %}" class="btn btn-dark  fs-4 ">Login</a>
    <a href="{%url 'signup' %}" class="btn btn-dark fs-4 mx-5 ">signup</a>

  
  
</div>




{% endblock %}