{% extends 'super.html' %}
{% load static %}
{% block title %}
OTS | Login
{% endblock %}

{% block body %}
<div class="row bg-dark text-center mt-5">
  <div class="col-12">
    <h1 class="text-light "> welcome to Login page  </h1>

  </div>
</div>

<div class="container-fluid d-flex justify-content-center  my-5">
  
  <form action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" required name="username" id="exampleInputEmail1" >
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" required name="password" id="exampleInputPassword1">
      </div>
      
{% if messages %}
{% for m in messages %}
<div class="text-danger m-2" >{{m}} </div>
{% endfor %}
{% endif %}

      <button type="submit" class="btn btn-dark w-100 ">Submit</button>
    </form>





    <!-- <label for="">Password</label>
    <input type="password" required name="password">
    <button type="submit">Login</button>
</form> -->

</div>
{% endblock %}
