{% extends 'index.html'%} 
{% block title %} OTS|QUESTION Paper {% endblock %} 


{% block body %}

<div class="row bg-dark my-3">
<div class="col-12 text-light text-center">
  <h1>Question</h1>

</div>
</div>


<form action="{% url 'result' subject.id %}" method="post">
  {% csrf_token %} {% for item in questions %}
  <input type="hidden" name="question_id" value="{{item.id}}" />

  <div class="card m-5 bg-secondary">
    <div class="card-header bg-dark text-light fs-5">
      <span>{{ forloop.counter }}</span> {{item.question}}
    </div>
    <div class="card-body text-light">
      <blockquote class="blockquote mb-0">

        <div class="form-check">
          <input class="form-check-input text-bg-dark" type="radio" name="option{{ item.id }}" value="{{item.opt1}}" required>
          <label class="form-check-label" for="">
            {{item.opt1}}
          </label>
        </div>



        <div class="form-check">
          <input class="form-check-input text-bg-dark" type="radio"  required name="option{{ item.id }}" value="{{item.opt2}}">
          <label class="form-check-label" for="">
            {{item.opt2}}
          </label>
        </div>
    
        <div class="form-check">
          <input class="form-check-input text-bg-dark" type="radio" required name="option{{ item.id }}" value="{{item.opt3}}">
          <label class="form-check-label" for="">
            {{item.opt3}}
          </label>
        </div>
    
        <div class="form-check">
          <input class="form-check-input text-bg-dark" type="radio" required name="option{{ item.id }}" value="{{item.opt4}}">
          <label class="form-check-label" for="">
            {{item.opt4}}
          </label>
    
        </div>
      </div>

      </blockquote>
    </div>
  </div>


  {% endfor %}

  <div class="row mx-5 my-5">
<div class="col-md-2">

   <button type="submit" class=" btn btn-dark w-100 fs-5">submit test</button>
</div>
  </div>

  
</form>


{% endblock %}
