<!-- {% for q in question %} -->
<!-- <h3>q.id</h3>
<h3>q.question</h3>
<h3>q.opt1</h3>
<h3>q.opt2</h3>
<h3>q.opt3</h3>
<h3>q.opt4</h3> -->
<!-- {% endfor %} -->


action="{% url 'result' test.id %}

<!-- <h3>{{item.opt1}}</h3>
<h3>{{item.opt2}}</h3>
<h3>{{item.opt3}}</h3>
<h3>{{item.opt4}}</h3> -->




<form action="" method="post">
    {% for item in question%}
    {% csrf_token %}
    <h3><span>{{item.id}}</span> {{item.question}}</h3>
     <div>
    <input type="radio" name="option" value="{{item.opt1}}"><label for="">{{item.opt1}}</label>
    <br>
    <input type="radio" name="option" value="{{item.opt2}}"><label for="">{{item.opt2}}</label>
    <br>
    <input type="radio" name="option" value="{{item.opt3}}"><label for="">{{item.opt3}}</label>
    <br>
    <input type="radio" name="option" value="{{item.opt4}}"><label for="">{{item.opt4}}</label>
    <br>
</div>
{% endfor %}
</form>




<form action="" method="post">
    {% csrf_token %}
    {% for item in questions %}
    <div class="question">
        <input type="hidden" name="qn{{item.id}}" value="{{question.id}}">
        {{item.id}}  {{item.question}}
    </div>
    <div class="options"><input type="radio" name="q{{item.id}}" value="a">{{item.opt1}}</div>
    <div class="options"><input type="radio" name="q{{item.id}}" value="b">{{item.opt2}}</div>
    <div class="options"><input type="radio" name="q{{item.id}}" value="c">{{item.opt3}}</div>
    <div class="options"><input type="radio" name="q{{item.id}}" value="d">{{item.opt4}}</div>

    {% endfor %}
    <div><input type="submit" value="Submit"></div>
</form>



<form action="" method="post">
    {% for item in question %}
    
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{item.id}}">
        <h3><span>{{item.id}}</span> {{item.question}}</h3>
         <div>
        <input type="radio" name="option{{ forloop.counter }}" value="{{item.opt1}}"><label for="">{{item.opt1}}</label>
        <br>
        <input type="radio" name="option{{ forloop.counter }}" value="{{item.opt2}}"><label for="">{{item.opt2}}</label>
        <br>
        <input type="radio" name="option{{ forloop.counter }}" value="{{item.opt3}}"><label for="">{{item.opt3}}</label>
        <br>
        <input type="radio" name="option{{ forloop.counter }}" value="{{item.opt4}}"><label for="">{{item.opt4}}</label>
        <br>
    </div>
    {% endfor %}
    
    <button type="submit">submit test</button>
    </form>




<form action="" method="post">
    {% csrf_token %}
    {% for item in question %}
    <input type="hidden" name="question_id" value="{{ item.id }}">
    <h3><span>{{ item.id }}</span> {{ item.question }}</h3>
    <div>
        <input type="radio" name="option" value="{{ item.opt1 }}" id="option1_{{ item.id }}">
        <label for="option1_{{ item.id }}">{{ item.opt1 }}</label>
        <br>
        <input type="radio" name="option" value="{{ item.opt2 }}" id="option2_{{ item.id }}">
        <label for="option2_{{ item.id }}">{{ item.opt2 }}</label>
        <br>
        <input type="radio" name="option" value="{{ item.opt3 }}" id="option3_{{ item.id }}">
        <label for="option3_{{ item.id }}">{{ item.opt3 }}</label>
        <br>
        <input type="radio" name="option" value="{{ item.opt4 }}" id="option4_{{ item.id }}">
        <label for="option4_{{ item.id }}">{{ item.opt4 }}</label>
        <br>
    </div>
    {% endfor %}
    <button type="submit">Submit Answer</button>