{% extends 'super.html'%}
{% block title %}
OTS|Student-Profile
{% endblock %}

{% block body %}

<div class="row bg-dark ">
    <div class="col-12 text-light fs-2 py-2 text-center">
        Student-Profile
    </div>
</div>
<div class="cantainer mx-5  ">

    <div class="row justify-content-center m-5 ">
        <div class="col-5 fs-3 border bg-dark text-light  ">
            Student Rollno: <span>{{student.id}}</span>
        </div>
        
        <div class="col-5 fs-3 border bg-dark text-light ">
            Student Name: <span>{{student.name}}</span>
        </div>
      </div>


      <div class="row justify-content-center m-5">
        <div class="col-5 fs-3 border bg-dark text-light ">
            Student Username: <span>{{student.username}}</span>
        </div>
        <div class="col-5 fs-3 border bg-dark text-light ">
            Student Email: <span>{{student.email}}</span>
        </div>
      </div>
        

      <div class="row justify-content-center m-5">
        <div class="col-5 fs-3 border bg-dark text-light ">
            year: <span>{{student.year}}</span>
        </div>
        <div class="col-5 fs-3 border bg-dark text-light ">
            Semaster: <span>{{student.sem}}</span>
        </div>
      </div>
    
      <div class="row justify-content-center m-5">
        <div class="col-5 text-center ">
            <a href="{% url 'examsubject'%}" class="btn btn-dark px-5 fs-4">Attempt Exam</a>
        </div>
        <div class="col-5 text-center ">
            <a href="{% url 'updateProfile' student.id %}" class="btn btn-dark px-5 fs-4">Update Profile</a>
        </div>
      </div>
       
    
</div>
{% endblock %}