{% extends 'super.html' %}
{% load static %}
{% block title %}
OTS | Signup
{% endblock %}

{% block body %}

<div class="row bg-dark my-5">
  <div class="col-12 text-light text-center">
    <h1 > Update Your Profile </h1>

  </div>
</div>
<div class="container">
 
 
  <form class="row g-3" action="" method="post">
    {% csrf_token %}

    <div class="col-md-6">
      <label for="" class="form-label">Full Name</label>
      <input type="text" class="form-control" value="{{student.name}}" required name="name">
    </div>
    
    

    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" required name="email" value="{{student.email}}" class="form-control" id="inputEmail4">
    </div>
    
    
    <div class="col-md-6">
      <label for="inputState" class="form-label">Collage Year</label>
      <input type="text" required name="year" value="{{student.year}}" class="form-control" id="inputCity">
      
    </div>


    <div class="col-md-6">
      <label for="inputZip" class="form-label">Semster</label>
      <input type="text" required name="sem" value="{{student.sem}}" class="form-control" id="inputZip">
    </div>

   
{% if messages %}
{% for m in messages %}
<div class="alert alert-danger text-danger alert-dismissible fade show" role="alert">
  {{m}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
    
    
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-dark w-50 fs-4 my-5">update</button>
    </div>
  </form>
</div>
{% endblock %}